{% extends 'base.html' %}

{% block header %} 
<h1>About</h1>
{% endblock %}

{% block content %} 
<p>Possibly born in Pennsylvania near Philadelphia.</p>
<p>May have gone to school at the University of Iowa.</p>
<p>Probably studied abroad in Thailand.</p>
<p>Perceivably went to graduate school at Vanderbilt University.</p>

{% for doc in docs %}
<p>School: {{ doc.id }}</p>
<p>Major: {{ doc.to_dict().get('Major') }}</p>
<p>Minor: {{ doc.to_dict().get('Minor', 'No name') }}</p>
{% endfor %}

{% endblock %}

