{% extends 'base.html' %}

{% block header %} 
<h1>Projects</h1>
{% endblock %}

{% block content %} 
<h3 style="padding: 0px;"><a href="https://www.paultaufalele.com">Personal Website</a> - lol</h3>
<h3 style="padding: 0px;"><a href="{{ url_for('fellowships.fellowships_home') }}">Fellowship/Grant Advice</a></h3>
<p>During my PhD, I have applied to the NSF, Ford Foundation, AHA, NIH F31, and HHMI Gilliam fellowships and have some general advice 
    for anyone else who wishes to apply to these graduate student fellowships. 
<h3><a href="http://www.anchorsofacademia.org">Anchors of Academia</a></h3>
<p>Upcoming organization focused on basic/clinical research education for patients. </p>
{% endblock %}




