{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Animal Work</h1>
{% endblock %}

{% block content %} 
<p>I think this section is required to ensure that you are somewhat familiar with your IACUC protocols (also that you have an IACUC protocol) and meet all the basic standards. 
    Typicallly, it is required that you provide descriptions of your 
    research protocols and animal models, a justification for the amount of animals (power analysis) and the sex usage (why using only males vs females), and how you 
    will minimize pain/distress. Most of this information should be found in your IACUC protocol but you will want to make sure all the required 
    information is present and clear. Sometimes the requirements for the fellowship/grant application are more strict than your IACUC protocol (especially if your protocol is a little old)
    so you always need to double check that your statement includes all required subject matter. 
</p>
<p>Some helpful links:</p>
<ul>
    <li><a href=="https://olaw.nih.gov/guidance/vertebrate-animal-section.htm">NIH guidance</a></li>
    <li><a href="https://www.stat.ubc.ca/~rollin/stats/ssize/n2.html">Power analysis calculator</a></li>
    <li><a href="https://grants.nih.gov/grants/olaw/vaschecklist.pdf">Another NIH link</a></li>
</ul>
{% endblock %}