{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Bibliography</h1>
{% endblock %}

{% block content %} 
<p>One of the great benefits of living in the 21st century are the citation managers. You can now use software to keep track of your citations 
    and automatically build your bibliography in word. These are the most popular ones:</p>
<ul>
    <li><a href="https://www.zotero.org/">Zotero [my favorite]</a></li>
    <li><a href="https://www.mendeley.com/download-desktop-new/">Mendeley [gives good recommended articles based on your archives]</a></li>
    <li><a href="https://endnote.com/">Endnote</a></li>
</ul>
<p>Dealing with citations can get annoying, but the above software is extremely helpful. Make sure that you know what format is required:</p>
<ol>
    <li>What is the citation style? [MLA/APA/etc?]</li>
    <li>How are the citations to be ordered? [alphabetical vs first appearance]</li>
    <li>What are the allowed in-line citation styles? [numbered superscript vs first author last name + year]</li>
</ol>
<p>Make sure that your citations are properly formatted from the beginning. You don't want to look at the last minute and see a minor mistake in 
    the citation formatting. If you have over 100 citations, manually fixing this can be time consuming. Something that is not often included in 
    citation manager styles are the PMID numbers. In one application, I was required to include the PMID number if one was available for every citation,
    but the citation manager I was using did not have this functionality built in. So at the last minute, I had to manually enter these numbers.. This 
    demonstrates the obvious: machines aren't perfect. So it's very important to check this part of your application as the details do in fact matter.
</p>
{% endblock %}

