{% extends 'base_fellowships.html' %}

{% block header %} 
<p><!--id="main_container" --></p>
<hr>
<h1>Grants</h1>
{% endblock %}

{% block content %} 
<p>Here is a list of grants you might be able to apply to in grad school (sometimes before grad school even [NSF]). I personally only have experience applying to the NSF (1x), F31 (1x), Ford Foundation (2x), American Heart Association (1x), and to some degree the HHMI Gilliam (1x ~internal app) fellowships</p>
<a href="https://www.nsfgrfp.org/">National Science Foundation Graduate Research Fellowship Program NSF-GRFP</a>
<br>
<a href="https://researchtraining.nih.gov/programs/fellowships/F31">National Institutes of Health F31</a>
<br>
<a href="https://researchtraining.nih.gov/programs/fellowships/F99-K00">F99/K00 Predoctoral to Postdoctoral Fellow Transition Award</a>
<br>
<a href=https://professional.heart.org/en/research-programs/application-information/predoctoral-fellowship">American Heart Association Predoctoral Fellowship</a>
<br>
<a href="https://www.hhmi.org/science-education/programs/gilliam-fellowships-advanced-study">Howard Hughes Medical Institute Gilliam Fellowships for Advanced Study</a>
<br>
<a href="https://ndseg.sysplus.com/">National Defense Science and Engineering Graduate Fellowship Program</a>
<br>
<a href="https://www.krellinst.org/csgf/">Department of Energy Computational Science Graduate Fellowship</a>
{% endblock %}