{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Institutional Letters</h1>
{% endblock %}

{% block content %} 
<p>For some applications, such as the F31, you will need to have your university provide letters for support or something. My F31 application 
    required that I have the department chair provide a letter that certified I was an acceptable candidate and VU was commited to diversity. I also 
    needed to provide another letter that indicated that my institution had adequate resources. My main advice on these matters is to make sure you 
    read the instructions very carefully in the application instructions and take care of these administrative tasks early. There isn't really much 
    for you to do with these letters other than the coordination to make sure you receive them and that they are properly formatted and look to 
    include all the necessary items. These are definitely items to ask your PI how to acquire. It may require you emailing some office, or they 
    may have a personal connection or they may be the person who writes these letters for the institution.
</p>
{% endblock %}