{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>RCR</h1>
{% endblock %}

{% block content %} 
<p><u>Responsible Conduct of Research:</u> A required statement on RCR training is rare, but it still shows up occasionally. Typically you are asked to provide
    a description of the RCR training carried out at your University. I'm not sure if it's by law, but every university that I'm aware of 
    conducts RCR training for the graduate students. At Vanderbilt this involved a day long course with some different break out rooms. Even though RCR training
    is performed at every institution and isn't really in your control, you still have to take this section seriously. I formatted my single page 
    summary on RCR by stating in a paragraph the brief overview of <a href="https://gradschool.vanderbilt.edu/research/rcr.php">Vanderbilt's RCR training program</a> and it's goals. 
    Then in bullet points with sentences, I included the 1.) Format (online component + formal presentations + small topic discussions) 2.) Subject matter (look at your university's online description of RCR training) 
    3.) Faculty participation (is there direct faculty-student interactions and how so) 4.) Duration of instruction (1 day, this many hours, this many sections) 
    5.) and Frequency of instruction (1 time in this semester of my first and may repeat if you are there long enough. I think it has to be repeated every 4 years).
</p>
{% endblock %}