{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Research Proposal</h1>

{% endblock %}

{% block content %} 
<p>You really should be writing this section with heavy advice from your PI. But I will try to include some of my own tips for the different sections.</p>
<ul>
    <li>Significance: </li>
</ul>
<p>More tips:</p>
<ul>
    <li><a href="https://ras.mit.edu/education-and-career-resources/educational-offerings/quick-guide-pis/writing-successful-proposals">MIT tips</a></li>
    <li><a href="https://oge.mit.edu/finances/fellowships/fellowship-tips/drafting-a-research-proposal/">MIT tips #2</a></li>
    <li><a href="https://research.berkeley.edu/writing-research-proposals">UC Berkeley tips</a></li>
    <li><a href="https://science.yalecollege.yale.edu/fellowships/how-write-proposal">Yale tips</a></li>
    <li><a href="https://www.sciencemag.org/careers/2002/07/writing-research-plan">Science mag tips</a></li>
    <li><a href="https://www.uky.edu/~eushe2/Pajares/proposal.html">Emory guide</a></li>
    <li><a href="https://iacweb.ethz.ch/staff/harald/writing/proposal.html">ETHZ tips</a></li>
</ul>
{% endblock %}