{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Summary/Abstract</h1>
{% endblock %}

{% block content %} 
<p>Abstracts can be constructed from a fairly basic formula. Background/intro sentence + significance/relevance of issue + what is 
    known + what is unknown + how you will bridge the gap + why is it important to solve this problem +
    Preliminary data + How will you go about this (hypothesis + aims) + impact statment. You will need to take some time to determine 
    all this information and craft some clear and concise sentences. But I think the most important part of the abstract are the transitions.
    Everyone has some pretty good research ideas, but what makes them stand out more is when they are packaged in an easy way to read and blend together 
    in a very fluid manner. The information is formulaic, but the writing should not be too rigid (on the other end, you also don't want to use this 
    as an exercise in creative freeform prose).
</p>
<ul>
    <li><a href="https://writingcenter.gmu.edu/guides/writing-an-abstract">GMU writing center</a></li>
    <li><a href="https://nexus.od.nih.gov/all/2019/06/28/project-summary-abstract-and-project-narrative-whats-the-difference-and-what-to-include/">NIH project summary & narrative</a></li>
    <li><a href="https://writing.wisc.edu/handbook/assignments/writing-an-abstract-for-your-research-paper/">Wisconsin writing center</a></li>
    <li><a href="https://users.ece.cmu.edu/~koopman/essays/abstract.html">Carnegie Mellon guide</a></li>
    <li><a href="https://your.yale.edu/sites/default/files/files/HowToWriteACompellingAbstractForGrantApplication_July2017.pdf">Yale ppt</a></li>
    <li><a href="https://dicp.hms.harvard.edu/node/302">Harvard tips</a></li>
    <li><a href="https://mitcommlab.mit.edu/broad/commkit/journal-article-abstract/">MIT tips</a></li>
</ul>
{% endblock %}