{% extends 'base_fellowships.html' %}

{% block header %} 
<h1>Training Plan</h1>
{% endblock %}

{% block content %} 
<p>In this section, you really need to dig deep and find out just what you want out of the fellowship and life. The goal of this
    part is to frame each action you plan on taking during the fellowship to achieve some greater life objective. For example,
    if teaching is in your career plans, then you need to plan on taking advantage of teaching/mentoring development experiences. Furthermore,
    the research you propose should also be in alignment with your career goals. The reviewers will want to see that you have thought deeply 
    about your career goals and have a plan that directly complements that career goal. Essentially, you want to show that the fellowship 
    is almost necessary for your career development.
</p>
<p>Considerations:</p>
<ul>
    <li>Laboratory skills to be learned: Think about skills that you want to take with you to your future career. Is the field you 
        are interested in lacking some aspect? Are there any technical areas you lack experience? What are the required skills 
        for your future field?
    </li>
    <li>Training from coursework & workshops: Select coursework that will enhance your analytical abilities. Participate in journal clubs 
        to enhance your background knowledge. Participate in workshops or training experiences to strengthen any weaknesses.
    </li>
    <li>STEM outreach: If general outreach is relevant, you can include that as well, but for science fellowships the STEM outreach is more 
        important. Speak about why outreach is important to you and the cycle of giving back. Choose 1-2 meaningful experiences to 
        plan a part of and try to show that you will take a leadership role in these experiences. 
    </li>
    <li>Training in mentoring: Try to find concrete opportunities at your university where you can get teacher/mentor training. For example, 
        the teaching center at Vanderbilt is a good source of training opportunities and they have an Active Learning LLC. Try to connect these 
        with your future career plans.
    </li>
    <li>Training in Grantsmanship and Writing: Writing grant/fellowship applications are great learning opportunities. You can also gain experience 
        by writing papers, abstracts, and review articles. You may also want to mention writing resources at your institution.
    </li>
    <li>Networking and conference attendance: Indicate the professional societies you plan to be a part of and their importance to your work 
        and/or career plans. It may be good to attend a specialized conference in your final year to network and find job opportunities.
    </li>
</ul>
<p>The key to this section is to be consistent and focused by linking every training opportunity to your future plans. Everything should fit in somewhere
    and it should't feel as if you threw a random collection of opportunities together. Also, like personal statements, this stuff should be unique to you.
</p>
{% endblock %}